%h4.text-center= "Newest Articles"
%br
- if !@articles.empty?
  - @articles.each do |a|
    %a{href: "/articles/#{a.id}"}
      .index_sample
        %h5
          .title=a.title
          by #{a.author}
        %p.index_content= raw truncate(a.content, length: 280, omission: "...")
- else
  %p= "There's nothing at all, nothing at all, nothing at all."
