%h2.text-center= "Simple Blog"
%br
%h4.text-center= "Newest Articles"

.container
  .row
    .col-md-10.col-md-offset-1.newest
      - if !@articles.empty?
        - @articles.each do |a|
          .index_sample
            %h5
              .title=a.title
              by #{a.author}
            %h5= raw truncate(strip_tags(a.content), length: 280, omission: "...")
      - else
        %p= "There's nothing at all, nothing at all, nothing at all."
