%h4.text-center= @article.title
.container
  .row
    .col-md-1
      %h5
        %a{href: "/"}= "<<Back"
    .col-md-1
      - if can? :edit, @article
        %h5
          %a{href: "/articles/#{@article.id}/edit"}= "Edit"
    .col-md-8
      %h5.text-center
        %a.article_title{href: "/users/#{@article.user_id}"}= "By #{@article.author}"
%br
.container
  %p.index_content= simple_format(@article.content)
  %hr
%br
%h4.text-center= "Comments"
.container.comments_section
  - if !@comments.empty?
    - @comments.each do |a|
      .row
        .col-md-12
          %h5.comment_margin
            %strong= a.author
          .row
            .col-md-10
              %p.comment_margin= a.created_at.strftime("%m-%d-%y at %l:%M %p %Z")
            .col-md-2
              %p.comment_margin
                - if can? :edit, a
                  = link_to "Edit", edit_comment_path(a.id)
                  |
                - if can? :destroy, a
                  = link_to 'Delete', "/comments/#{a.id}", method: :delete
          %hr.comment_hr
          %p= a.content
          %hr.comment_bottom_hr

  - else
    - if user_signed_in?
      %p.text-center= "Be the first to comment on this article."
    - else
      %p.text-center= "There are no comments on this article yet."
    %hr.comment_bottom_hr
  - if user_signed_in?
    = render :partial => "comment_form"
