- if @user == current_user
  %h4.text-center= "Manage Articles"
- else
  %h4.text-center= "#{@user.first_name}'s Articles"
%br
- if !@articles.empty?
  .container
    .row
      .col-xs-1.col-md-offset-2.hidden-xs.hidden-sm
        %h5.underline= "Created"
      .col-xs-1.hidden-xs.hidden-sm
        %h5.underline= "Edited"
      .col-xs-4
        %h5.underline= "Article Title"
      .col-xs-2
        - if can? :update, @articles.first
          %h5.underline= "Options"
      .col-xs-2
    - @articles.each do |a|
      .row
        .col-xs-1.col-md-offset-2.hidden-xs.hidden-sm
          %p= a.created_at.strftime("%m-%d-%y")
        .col-xs-1.hidden-xs.hidden-sm
          - if a.updated_at != a.created_at
            %p= a.updated_at.strftime("%m-%d-%y")
          - else
            %p= "-------------"
        .col-xs-4
          %p= a.title
        .col-xs-2
          - if can? :update, a
            %p
              = link_to "Edit", edit_article_path(a.id)
              |
              = link_to 'Delete', "/articles/#{a.id}", data: {confirm: "Are you sure you want to delete this article?"} , method: :delete
        .col-xs-2
      %hr
- else
  %h5.text-center= "No articles. Go write something."
