<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_right" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand" href="/">Simple Blog</a>
        <% if user_signed_in? %>
          <p class="navbar-text">Hello <%= current_user.first_name %>!</p>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="nav_right">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/all">View Articles</a></li>
                <li><a href="/articles/search">Search</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/articles/new">New Article</a></li>
                <li><a href="/users/<%= current_user.id %>">Manage Articles</a></li>
              </ul>
            </li>
            <% if can? :toggleMod, User %>
              <li><a href="/users/tools">Tools</a></li>
            <% end %>
            <li><a href="/users/edit">Settings</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/all">View Articles</a></li>
                <li><a href="/articles/search">Search</a></li>
              </ul>
            </li>
            <li><a href="/users/sign_in">Log In</a></li>
            <li><a href="/users/sign_up">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 backdrop">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
